<% provide(:title, "About")%>

<h1>About</h1>
<p>Welcome to Michael O'Hara's CA2, where, using Ruby on Rails, I have created a phone store showing the latest and greatest phones that I could find for this CA </p>
