<% provide(:title, "Home")%>

<script type="text/Javascript">

			alert("Hello Liam, and welcome to my CA2");
			
			</script


     <div class="mainCont">



    <div class = "slideshow_container">

	<script src="ImageGallery.js"></script>
	<right><img src="/assets/slideshow/img1.jpg" id="image" width="600" height="300"> </right>
	<div class="border_box"></div>
   
	
	</div>
    
    <div class = "introduction">


<h2>Welcome to Mike's Phone Store!</h2>
<p>Here you will find the latest and greatest in new smartphone technology at the greatest prices money can buy! 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a eros rhoncus, viverra risus sollicitudin, mollis nisi. 
Nulla a enim mi. Vivamus leo dui, molestie vitae sem eu, tempor vulputate turpis. Nam pellentesque gravida volutpat. 
Duis dignissim sit amet tortor quis faucibus. Vestibulum efficitur tellus dolor, et porta risus rhoncus congue. Sed vel 
mollis massa. Vivamus eu purus eget tellus tincidunt iaculis at a augue. Aliquam erat volutpat. Maecenas luctus porttitor 
lectus, at pharetra ipsum dignissim sit amet. Vivamus lacinia lacus at neque feugiat, feugiat tincidunt odio malesuada. 
Morbi vel mollis nisi. Donec fringilla justo et nisi bibendum pretium. Donec fringilla, ligula vitae facilisis tristique, 
enim arcu tristique mauris, pellentesque blandit arcu quam ut odio. Donec a quam cursus, faucibus est quis, facilisis orci. 
Proin imperdiet eros quis justo rutrum placerat. </p>

</div>